html {
    font-family: Helvetica, sans-serif;
}

h1 {
    font-size: 100px;
    font-weight: bold;
    text-align: center;
    color: khaki;
    background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg")
}

.font {
    font-size: 32px;
    font-weight: bold;
    color: white;
}

.springgreen {
    background-color: mediumspringgreen
}

.lightcoral {
    background-color: lightcoral
}

.skyblue {
    background-color: skyblue
}

span {
    font-weight: bold;
    color: blue;
}